body {
  background-color: #141d26;
}

.formDiv {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 40%;
}

section {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  background-color: #e6e6e6;
  height: 4vh;
  width: 130%;
  border-radius: 3px;
}

.loadingImg {
  width: 5%;
}

.loadingImgDiv {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 5px;
  height: 4.5vh;
  width: 24%;
  border: none;
  background-color: #f7931a;
  color: white;
}

/* Cards */

.cardDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  align-items: center;
  text-align: left;
  /* border: 2px solid red; */
  width: 50%;
  background-color: white;
  border-radius: 8px;
}

.cardImg {
  width: 10%;
  height: 40%;
  /* margin-right: 3%; */
}

.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
